<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../comunes/administrador/headers-component") -%>
</head>

<body>

    <%- include("../comunes/administrador/sidenav-component") -%>
        <main>
            <h4 class="my-basic">Administradores</h4>
            
                <%- include("../administrador/components/administrador-form-component") -%>
                <%- include("../administrador/components/administrador-table-component") -%>
          
            <!--img width="100" height="100" src="/api/v1/file?filePath= " alt="" srcset=""-->

        </main>

    <%- include("../comunes/administrador/footer-component") -%>
    <script src="/assets/js/administrador/form-administrador.js"></script>
    <script src="/assets/js/administrador/administrador.js"></script>
</body>

</html>